@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

:root {
  font-family: 'Gamja Flower', cursive;
  font-size: 30px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
}